body{
  background: url("../images/monumental.jpg")no-repeat center center fixed;
  background-size: cover;
}


.navbar .navbar-nav {
   display: inline-block;
   float: none;
}

.navbar {
   text-align: center;
}

.noticias{
  background-color: rgba(255, 255, 255, 0.6);
}

.centrado{
  text-align: center;
  padding-bottom: 25px;
}

.campeonato{
  background-color: rgba(255, 255, 255, 0.6)
}
.dibujos{
  background-color: rgba(255, 255, 255, 0.6);
}

.ropa{
  background-color: rgba(255, 255, 255, 0.6)
}

.canciones{
  background-color: rgba(255, 255, 255, 0.6)
}

#usuario{
  background-color: rgba(0, 0, 0, 0.3)
}

h1{
  font-weight: bold;
}

h2{
  text-align: center;
}

h6{
  color: rgb(0, 0, 0)
}
.formulario{
   background-color: rgba(255, 255, 255, 0.6);

}

footer{
  text-align: center;
  border: 3px solid black;
  background-color: rgba(255,255, 255, 0.6);
  color: red;
  margin-top: 25px;
}

.table tbody tr td{
  border: 3px solid red;
}

thead:first-child > tr:first-child > th {
    border: 3px solid red;
    border-top: 3px solid red;
}
