body{
	background-image: url("imagenes/monumental.jpg");
	background-repeat: no-repeat;
	background-size: cover 100%;
	background-attachment: fixed;
}


header img{
	width: 900px;
	height: 252px;
}

header{
	width: 900px;
	margin: 25px auto 25px auto;
}

form{
	background-color: rgba(0, 0, 0, 0.6);
	width: 425px;
	margin: 25px auto 25px auto;
}

input{
	margin: 15px auto 15px auto;
}

nav{
	width: 900px;
	background-color: darkred;
	margin: 10px auto 0px auto;
	text-align: center;
}

a{
	margin: 0 10px 0 10px;
	color: white;
	font-family: sans-serif;
	font-size: 150%;
	font-weight: 700;
}

article{
	background-color: rgba(0, 0, 0, 0.6);
	width: 900px;
	height: 1250px;
	margin: 25px auto 25px auto;
}

section{
	width: 430px;
	height: 350px;
	margin: 25px 10px 25px 10px;
	float: left;

}

footer{
	text-align: center;
	clear: both;
}

caption{
	border: 10px solid orange;
	color: orange;
	font-size: 30px;

}

table, th, td{
	margin: 25px auto 25px auto;
	border: 2px solid white;
	color: white;

}

#imagenes{
	background-color: rgba(0, 0, 0, 0.6);
	margin: 50px auto 50px auto;
	width: 700px;
}

h1{
	color: red;
	font-family: sans-serif;
	font-size: 150%;
}

h2{
	text-align: center;
	margin: 80px;
	border-radius: 25px;
	border: 7px dashed orange;
	color: red;
}

#audio{
	width: 300px;
	margin: 25px auto 25px auto;
}

#tabla{
	background-color: rgba(0, 0, 0, 0.6);
	width: 900px;
	height: 1000px;
	margin: 25px auto 25px auto;
}

#canciones{
	background-color: rgba(0, 0, 0, 0.6);
	width: 900px;
	margin: 25px auto 25px auto;
}

ul{
	color: white;
}

footer{
	border: 3px solid black;
	background-color: rgba(255,255, 255, 0.6);
	color: red;
	width: 400px;
	margin: 25px auto 25px auto;
}